:root{
    font-family: Helvetica;

    /* COLOR PALETTE */
    --Orange: #EB6309;
    --lightGray: #E6E2DE;
    --midGray: #BEB9B4;
    --darkGray: #49474D;
}

#logo{
    margin-left: 5vh;
    height: 10vh;
    width: 10h;
    transition: 200ms ease;
}

#logo:hover{
    filter: saturate(130%);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

body{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 8vh;
    background-color: var(--Orange);
    color: var(--lightGray);
    font-weight: bold;
    font-size: 30px;
    height: 10vh;
    width: 50%;
    border-style: none;
    border-radius: 30px;
    transition: 200ms ease;
}

button:hover{
    filter: saturate(130%);
}

/* ANIMATION */

#inputBar{
    background-color: var(--darkGray);
}

.inputContainer{
    margin-top: 10vh;
    background-color: var(--darkGray);
    position: relative;
    height: 20vh;
    width: 50%;
    overflow: hidden;
}

.inputContainer input{
    letter-spacing: .3ch;
    color: var(--lightGray);
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    border: none;
    outline: none;
}

.inputContainer label{
    color: var(--lightGray);
    position: absolute;
    font-weight: bold;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: solid var(--lightGray) 1px;
}

.inputContainer label::after{
    content:"";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: solid var(--Orange) 2px;
    transform: translateX(-100%);
    transition: 500ms ease;
}

.inputContent{
    position: absolute;
    bottom: 0px;
    transition: 500ms ease;
}

.inputContainer input:focus + .inputLabel .inputContent, 
.inputContainer input:valid + .inputLabel .inputContent{ 
    transform: translateY(-300%);
    color: var(--Orange);
    font-size: 12px;
}

.inputContainer input:focus + .inputLabel::after,
.inputContainer input:valid + .inputLabel::after{
    transform: translateX(0%);
}

